<html>
    {% include "header.njk" %}
    <body>
        {% include "nav.njk" %}
        <section class="about-page">
            <h1>About Our Project:</h1>

            <div class="text-container">
                <p>
                    Welcome to our project. In this website, we have a database of albums that all of us enjoy that are more unknown/come from a bit of a niche background.
                </p>

                <p>
                    We organized and displayed the albums through the use of a nav bar at the top of the page and allowed users to view and click on an album. After that, the page transforms and shows information such as the title, artist, and short summary.
                </p>
            </div>
        </section>

        {% include "footer.njk" %}
    </body>
</html>