<html>
    {% include "header.njk" %}
    <body>
        {% include "nav.njk" %}
        <section class="about-page">
            <h1>About Our Project:</h1>
            <div class="text-container">
                <p>Welcome to our project. In this website, we have a database of albums that all of us enjoy that are more unknown/come
                    from a bit of a niche background.<br>
                    We organized and displayed the albums through the use of a nav bar at the top of the page and allowed for users to view
                    and click on an album. After that the page will transform and information, such as the title, artist, and short summary.
                </p>
            </div>
        </section>
    </body>
</html>