<html>
    {% include "header.njk" %}
    <body
        class="album-page"
        style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('{{ activeAlbum.filePath }}');">
        {% include "nav.njk" %}
        <div class='album-info'>
            <div class='album-title-and-artist'>
                <h2>{{ activeAlbum.albumName }} by: {{ activeAlbum.artistName }}</h2>
            </div>
            <main>
                <div class="album-cover">
                    <img class="a-c" src='{{ activeAlbum.filePath }}'>
                </div>
            </main>
            <div class="album-about">
                <p class="album-text">{{ activeAlbum.info }}</p>
            </div>
        </div>
        {% include "footer.njk" %}
    </body>
</html>