<html>
    {% include "header.njk" %}
    <body class="album-page" style="background-image: url('{{ activeAlbum.filePath }}');">
        {% include "nav.njk" %}
        <div class="album-info">
            <div class="album-title-and-artist">
                <h2>{{ activeAlbum.albumName }} by: {{ activeAlbum.artistName }}</h2>
            </div>
            <main>
                <div class="album-content">
                    <div class="album-cover">
                        <img src="{{ activeAlbum.filePath }}" alt="{{ activeAlbum.albumName }}">
                    </div>
                </main>
                <div class="album-about">
                    <p class="album-text">{{ activeAlbum.info }}</p>
                </div>
            </div>
        </div>
        {% include "footer.njk" %}
    </body>
</html>