<footer class="site-footer">
    <hr class="hr-line">
    <div class="credits-section">
        <span class="credit-text">Credits:</span>
        <a href="https://github.com/portorfolio" target="_blank" class="credit-1">Ivy</a>
        <a href="https://github.com/Werner1020p" target="_blank" class="credit-2">Werner</a>
        <a href="https://github.com/jorgevin74" target="_blank" class="credit-3">Jorge</a>
    </div>
</footer>