<html>
    {% include "header.njk" %}
    <body>
        {% include "nav.njk" %}

        <section>
            Welcome to our Home Page <br> This is where information of the album would be displayed inside the home page
        </section>
        <div class='all-content'>
            {% for upload in newAlbum %}
                <div class='single-album'>
                    {# accessing properties in database object #}
                    <span>{{upload.albumName}}</span>
                    <p>{{upload.artistName}}</p>
                    <a href='/sign/{{ sign._id }}'><img src='{{ sign.filePath }}'></a>
                </div>
            {% endfor %}
        </div>
    </body>
</html>