<html>
    {% include "header.njk" %}
    <body>
        {% include "nav.njk" %}
        <section>
            Welcome to our home page <br> this is where informaion of the album would be displayed inside the home page
        </section>
    </body>
</html>