<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a>Album 1</a>
        </li>
        <li>
            <a>Album 2</a>
        </li>
        <li>
            <a>Album 3</a>
        </li>
        <li>
            <a>Album 4</a>
        </li>
        <li>
            <a>Album 5</a>
        </li>
        <li>
            <a>Album 6</a>
        </li>
        <li>
            <a href='/form'>Form</a>
        </ul>
    </nav>