<nav>
    <a href="/">Home (could be replaced with an icon)</a>
    <!--this will be where the nav bar of albums at the top would go to -->
    <a>Album 1</a>
    <a>Album 2</a>
    <a>Album 3</a>
    <a>Album 4</a>
    <a>Album 5</a>
    <a>Album 6</a>
</nav>