<nav>
    <ul class="nav-bar-area">
        <li class="nav-home">
            <a href='/'>Home</a>
        </li>
        <li class="nav-album-1">
            <a>Album 1</a>
        </li>
        <li class="nav-album-2">
            <a>Album 2</a>
        </li>
        <li class="nav-album-3">
            <a>Album 3</a>
        </li>
        <li class="nav-album-4">
            <a>Album 4</a>
        </li>
        <li class="nav-album-5">
            <a>Album 5</a>
        </li>
        <li class="nav-album-6">
            <a>Album 6</a>
        </li>
        <li class="nav-form">
            <a href='/form'>Form</a>
        </ul>
    </nav>